## Get publish status


> REQUEST

```shell
curl -X GET \
  '<%= config[:endpoint] %>/media/entity/publish/status' \
  -H 'Authorization: <%= config[:token] %>' \
  -H 'Content-Type: application/json' \
  -d '{
    "appId": "<%= config[:app_id] %>",
    "id": "<%= config[:entity_get_status_publish_id] %>"
}'
```

```ruby
require "uiza"

Uiza.app_id = "<%= config[:app_id] %>"
Uiza.authorization = "<%= config[:token] %>"

begin
  response = Uiza::Entity.get_status_publish "<%= config[:entity_get_status_publish_id] %>"
  puts response.progress
  puts response.status
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
import uiza

from uiza.api_resources.entity import Entity
from uiza.exceptions import ServerException

uiza.app_id = "<%= config[:app_id] %>"
uiza.authorization = "<%= config[:token] %>"

try:
  res, status_code = Entity().get_status_publish(id="<%= config[:entity_get_status_publish_id] %>")

  print("res: ", res)
except ServerException as e:
  raise e
except Exception as e:
  raise e
```

```php
<?php
require __DIR__."/../vendor/autoload.php";

Uiza\Base::setAppId("<%= config[:app_id] %>");
Uiza\Base::setAuthorization("<%= config[:token] %>");

try {
  $response = Uiza\Entity::getStatusPublish("<%= config[:entity_get_status_publish_id] %>");

  print_r($response);
} catch(\Uiza\Exception\ErrorResponse $e) {
  print($e);
}
?>
```

```java
import java.util.*;
import com.google.gson.*;

import io.uiza.Uiza;
import io.uiza.exception.*;
import io.uiza.model.Entity;
import io.uiza.model.Entity.*;

public class Main {

  public static void main(String[] args) {
    Uiza.appId = "<%= config[:app_id] %>";
    Uiza.authorization = "<%= config[:token] %>";

    try {
      JsonObject response = Entity.getStatusPublish("<%= config[:entity_get_status_publish_id] %>");
      System.out.println(response);
    } catch (UizaException e) {
      System.out.println("Status is: " + e.getStatusCode());
      System.out.println("Message is: " + e.getMessage());
      System.out.println("Description link is: " + e.getDescriptionLink());
    } catch (Exception e) {
      System.out.println(e);
    }
  }
}
```

```javascript
const uiza = require('uiza');

uiza.app_id('<%= config[:app_id] %>');
uiza.authorization('<%= config[:token] %>');

const params = {
  'id': '<%= config[:entity_get_status_publish_id] %>'
};

uiza.entity.get_status_publish(params)
  .then((res) => {
    //Progress of task publish, will be success when reach 100
    // Status of task publish (processing, success, error)
  }).catch((err) => {
    //Error
  });
```

```go
import (
  uiza "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/entity"
)

func init() {
  Uiza.AppID = "<%= config[:app_id] %>"
  Uiza.Authorization = "<%= config[:token] %>"
}

params := &uiza.EntityPublishParams{ID: uiza.String("<%= config[:entity_get_status_publish_id] %>")}
response, err := entity.GetStatusPublish(params)
if err != nil {
  log.Printf("%v\n", err)
} else {
  log.Printf("%v\n", response)
}
```

```csharp
using System;
using Uiza.Net.Configuration;
using Uiza.Net.Enums;
using Uiza.Net.Parameters;
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
  Authorization = "<%= config[:token] %>",
  AppId = "<%= config[:app_id] %>"
});

try
{
  var result = UizaServices.Entity.GetStatusPublish("<%= config[:entity_get_status_publish_id] %>");

  Console.WriteLine(string.Format("Get Status Publish Success : temp_access_id = {0} ", result.Data.status));
  Console.ReadLine();
}
catch (UizaException ex)
{
  Console.WriteLine(ex.Message);
  Console.ReadLine();
}
```

Checks progress of a publishing request. You need only supply the unique publishing identifier that was returned upon [publishing entity](#publish-entity-to-cdn) request.

> RESPONSE

```json
{
  "progress": 0,
  "status": "processing"
}
```

**HTTP Request**

<span class="get-button"> GET </span>
```<%= config[:endpoint] %>/media/entity/publish/status```

**ARGUMENTS**

| Parameter       | Description   | Required |
| --------------- | ------------- | ------------- |
| **id** *string* | The identifier of the task received from publish API | **Yes** |


**RETURNS**

Return `progress` and `status` of the publishing task if a valid identifier was provided. A successful task will have `progress` equals 100 (percent) and **success** as `status`.

| Parameter   | Description             |
|-------------|-------------------------|
| **progress** *number* | Progress of the  task publish, in percentage |
| **status** *string*   | Status of task publish (processing, success, error) |
