## Retrieve an entity


> REQUEST

```shell
curl -X GET \
  '<%= config[:endpoint] %>/media/entity?id=<%= config[:entity_retrieve_id] %>' \
  -H 'Authorization: <%= config[:token] %>'
```

```ruby
require "uiza"

Uiza.authorization = "<%= config[:token] %>"

begin
  entity = Uiza::Entity.retrieve "<%= config[:entity_retrieve_id] %>"
  puts entity.id
  puts entity.name
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
import uiza

from uiza.api_resources.entity import Entity
from uiza.exceptions import ServerException

uiza.authorization = "<%= config[:token] %>"

try:
  res, status_code = Entity().retrieve(id="<%= config[:entity_retrieve_id] %>")

  print("res: ", res)
except ServerException as e:
  raise e
except Exception as e:
  raise e
```

```php
<?php
require __DIR__."/../vendor/autoload.php";

Uiza\Base::setAuthorization("<%= config[:token] %>");

try {
  $entity = Uiza\Entity::retrieve("<%= config[:entity_retrieve_id] %>");

  print_r($entity);
} catch(\Uiza\Exception\ErrorResponse $e) {
  print($e);
}
 ?>
```

```java
import java.util.*;
import com.google.gson.*;

import io.uiza.Uiza;
import io.uiza.exception.*;
import io.uiza.model.Entity;
import io.uiza.model.Entity.*;

public class Main {

  public static void main(String[] args) {
    Uiza.authorization = "<%= config[:token] %>";

    try {
      JsonObject response = Entity.retrieve("<%= config[:entity_retrieve_id] %>");
      System.out.println(response);
    } catch (UizaException e) {
      System.out.println("Status is: " + e.getStatusCode());
      System.out.println("Message is: " + e.getMessage());
      System.out.println("Description link is: " + e.getDescriptionLink());
    } catch (Exception e) {
      System.out.println(e);
    }
  }
}
```

```javascript
const uiza = require('uiza');

uiza.authorization('<%= config[:token] %>');

const params = {
  'id': '<%= config[:entity_retrieve_id] %>'
};


uiza.entity.retrieve(params)
  .then((res) => {
    //Identifier of entity
  }).catch((err) => {
    //Error
  });
```

```go
import (
  uiza "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/entity"
)

func init() {
  Uiza.Authorization = "<%= config[:token] %>"
}

params := &uiza.EntityRetrieveParams{ID: uiza.String("<%= config[:entity_retrieve_id] %>")}
response, err := entity.Retrieve(params)
if err != nil {
  log.Printf("%v\n", err)
} else {
  log.Printf("%v\n", response)
}
```

```csharp
using System;
using Uiza.Net.Configuration;
using Uiza.Net.Enums;
using Uiza.Net.Parameters;
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
  Authorization = "<%= config[:token] %>"
});

try
{
  var result = UizaServices.Entity.Retrieve("<%= config[:entity_retrieve_id] %>");

  Console.WriteLine(string.Format("Get Entity Id = {0} Success", result.Data.id));
  Console.ReadLine();
}
catch (UizaException ex)
{
  Console.WriteLine(ex.Message);
  Console.ReadLine();
}
```

Retrieves the details of an existing entity. Supply the unique entity ID from either an entity creation request or the entity list, and Uiza will return the corresponding entity information.

> RESPONSE

```json
{
  "id": "<%= config[:entity_retrieve_id] %>",
  "name": "The Evolution of Dance",
  "description": "Judson Laipply did a fantastic job in performing various dance moves",
  "shortDescription": "How good a dancer can you be?",
  "view": 0,
  "poster": "<%= config[:sample_poster] %>",
  "thumbnail": "<%= config[:sample_thumbnail] %>",
  "type": "vod",
  "status": 1,
  "duration": "237.865215",
  "publishToCdn":"success",
  "metadataId": "16a9e425-efb0-4360-bd92-8d49da111e88",
  "embedMetadata": {
      "artist": "John Doe",
      "album": "Album sample",
      "genre": "Pop"
  },
  "extendMetadata": {
      "movie_category":"action",
      "imdb_score":8.8,
      "published_year":"2018"
  },
  "createdAt": "2018-06-16T18:54:15.000Z",
  "updatedAt": "2018-06-16T18:54:29.000Z"
}
```

**HTTP Request**

<span class="get-button"> GET </span>
```<%= config[:endpoint] %>/media/entity?id=<%= config[:uiza_entity_id] %>```

**ARGUMENTS**

| Parameter | Type | Description | Required |
| ------------- | ------------- | ------------- | ------------- |
| **id** | *string* | The identifier of the video to be retrieved. | **Yes** |


**RETURNS**

Returns a entity object if a valid identifier was provided.
