## Search entity

> Request

```bash
curl -X GET \
  <%= config[:endpoint] %>/media/entity/search?keyword=dance \
  -H 'Authorization: <%= config[:token] %>'
```

```ruby
require "uiza"

Uiza.workspace_api_domain = "<%= config[:endpoint] %>"
Uiza.authorization = "your-authorization"

begin
  entities = Uiza::Entity.search "your-keyword"
  puts entities.first.id
  puts entities.first.name
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
res, status_code = Entity().search(keyword="Title")

print("id: ", res.id)
print("status_code", status_code)
```

```php
<?php
$entity = Uiza\Entity::search(["keyword" => "sample"]);
?>
```

```java
import io.uiza.model.Entity;

Uiza.apiDomain = "<%= config[:endpoint] %>";
Uiza.apiKey = "<%= config[:token] %>";

try {
  JsonArray entities = Entity.search("keyword");
  JsonObject firstEntity = entities.get(0).getAsJsonObject();
  System.out.println(firstEntity.get("id"));
} catch (UizaException e) {
  System.out.println("Status is: " + e.getStatusCode());
  System.out.println("Message is: " + e.getMessage());
  System.out.println("Description link is: " + e.getDescriptionLink());
} catch (Exception e) {

}
```

```javascript
uiza.entity.search({'keyword': 'sample'}).then((res) => {
  // Response search entity base on keyword entered
}).catch((err) => {
  //Error
});
```

```go
import (
  uiza "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/entity"
)

params := &uiza.EntitySearchParams{Keyword: uiza.String("Sample")}
listEntity, _ := entity.Search(params)
for _, v := range listEntity {
  log.Printf("%v\n", v)
}
```

```csharp
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
	ApiKey = "<%= config[:token] %>",
	ApiBase = "<%= config[:endpoint] %>"
});

var result = UizaServices.Entity.Search("Sample");
Console.WriteLine(string.Format("Search Success, , total record {0}", result.Data.Count));
```

Search for entities that have `name` that match `keyword`

> Response

```json
{
  "data": [
    {
      "id": "<%= config[:uiza_entity_id] %>",
      "name": "Sample Video 001",
      "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
      "shortDescription": "Lorem Ipsum is simply dummy text of the printing and typesetting industry",
      "view": 0,
      "poster": "https://example.com/picture001",
      "thumbnail": "https://example.com/picture002",
      "type": "vod",
      "status": 1,
      "duration": "237.865215",
      "publishToCdn":"success",
      "embedMetadata": {
          "artist": "John Doe",
          "album": "Album sample",
          "genre": "Pop"
      },
      "extendMetadata": {
          "movie_category":"action",
          "imdb_score":8.8,
          "published_year":"2018"
      },
      "createdAt": "2018-06-16T18:54:15.000Z",
      "updatedAt": "2018-06-16T18:54:29.000Z"
    },
    {
      "id": "<%= config[:uiza_entity_id] %>",
      "name": "Sample video test",
      "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
      "shortDescription": "Lorem Ipsum is simply dummy text of the printing and typesetting industry",
      "view": 0,
      "poster": "https://example.com/picture003",
      "thumbnail": "https://example.com/picture004",
      "type": "vod",
      "status": 1,
      "duration": "178.178105",
      "publishToCdn":"success",
      "embedMetadata": {
          "artist": "Jane Roe",
          "album": "Album global 3",
          "genre": "Country"
      },
      "extendMetadata": {
          "movie_category":"action",
          "imdb_score":8.8,
          "published_year":"2018"
      },
      "createdAt": "2018-06-16T18:54:15.000Z",
      "updatedAt": "2018-06-16T18:54:29.000Z"
    }
  ],
  "metadata": {
          "total": 2,
          "result": 2,
          "page": 1,
          "limit": 20
      },
}
```

**HTTP Request**

<span class="get-button"> GET </span>
```<%= config[:endpoint] %>/media/entity/search```

**Argument**

| Parameter | Description | Required |
| -------------------- | --------------------- | ------- |
| **keyword** *string* | Keyword to search for | **Yes** |


**RETURNS**

A dictionary with a `data` property that contains an array of up to `limit` entities, starting after entity `page`. Each entry in the array is a separate entity object. If no more entities are available, the resulting array will be empty. This request should never return an error.