## Delete a record file

> REQUEST

```shell
curl -X DELETE \
  <%= config[:endpoint] %>/live/entity/dvr \
  -H 'Authorization: <%= config[:token] %>' \
  -H 'Content-Type: application/json' \
  -d '{
    "id": "<%= config[:live_delete_record_id] %>"
}'
```

```ruby
require "uiza"

Uiza.authorization = "<%= config[:token] %>"

begin
  response = Uiza::Live.delete "<%= config[:live_delete_record_id] %>" # Identifier of record (get from list record)
  puts response.id
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
import uiza

from uiza.api_resources.live import Live
from uiza.exceptions import ServerException

uiza.authorization = "<%= config[:token] %>"

try:
  res, status_code = Live().delete(id="<%= config[:live_delete_record_id] %>") # Identifier of record (get from list record)

  print("res: ", res)
except ServerException as e:
  raise e
except Exception as e:
  raise e
```

```php
<?php
require __DIR__."/../vendor/autoload.php";

Uiza\Base::setAuthorization("<%= config[:token] %>");

try {
  $response = Uiza\Live::delete("<%= config[:live_delete_record_id] %>"); // Identifier of record (get from list record)

  print_r($response);
} catch(\Uiza\Exception\ErrorResponse $e) {
  print($e);
}
?>
```

```java
import java.util.*;
import com.google.gson.*;

import io.uiza.Uiza;
import io.uiza.exception.*;
import io.uiza.model.Live;
import io.uiza.model.Live.*;

public class Main {

  public static void main(String[] args) {
    Uiza.authorization = "<%= config[:token] %>";

    try {
      JsonObject response = Live.delete("<%= config[:live_delete_record_id] %>"); // Identifier of record (get from list record)
      System.out.println(response);
    } catch (UizaException e) {
      System.out.println("Status is: " + e.getStatusCode());
      System.out.println("Message is: " + e.getMessage());
      System.out.println("Description link is: " + e.getDescriptionLink());
    } catch (Exception e) {
      System.out.println(e);
    }
  }
}
```

```javascript
const uiza = require('uiza');

uiza.authorization('<%= config[:token] %>');

const params = {
  'id': '<%= config[:live_delete_record_id] %>'
};

uiza.live.delete(params) // Identifier of record (get from list record)
  .then((res) => {
    // Identifier of deleting a record
  }).catch((err) => {
    //Error
  });
```

```go
import (
  "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/live"
)

func init() {
  Uiza.Authorization = "<%= config[:token] %>"
}

param := &uiza.LiveIDParams{ID: uiza.String("<%= config[:live_delete_record_id] %>")} // Identifier of record (get from list record)
response, err := live.Delete(param)
if err != nil {
  log.Printf("%v\n", err)
} else {
  log.Printf("%v\n", response)
}
```

```csharp
using System;
using Uiza.Net.Configuration;
using Uiza.Net.Enums;
using Uiza.Net.Parameters;
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
  Authorization = "<%= config[:token] %>"
});

try
{
  var result = UizaServices.LiveStreaming.Delete("<%= config[:live_delete_record_id] %>");

  Console.WriteLine(string.Format("Delete Live Feed Success", result.Data.id));
  Console.ReadLine();
}
catch (UizaException ex)
{
  Console.WriteLine(ex.Message);
  Console.ReadLine();
}
```

Delete a recorded file

> RESPONSE

```json
{
  "id": "<%= config[:live_delete_record_id] %>"
}
```

**HTTP Request**

<span class="delete-button"> DELETE </span>
```<%= config[:endpoint] %>/live/entity/dvr```

**ARGUMENTS**


| Parameter   | Description |
|-------------|-------------------------|
| **id** *string* | The ID of recorded file taken from [list record](#list-record) |

**RETURNS**

Returns an ID of the deleted recorded file on success. Otherwise, this call returns an error.
