## Retrieve views

> REQUEST

```shell
curl -X GET \
  '<%= config[:endpoint] %>/live/entity/tracking/current-view?id=<%= config[:live_get_view_id] %>' \
  -H 'Authorization: <%= config[:token] %>'
```

```ruby
require "uiza"

Uiza.authorization = "<%= config[:token] %>"

begin
  response = Uiza::Live.get_view "<%= config[:live_get_view_id] %>"
  puts response.watchnow
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
import uiza

from uiza.api_resources.live import Live
from uiza.exceptions import ServerException

uiza.authorization = "<%= config[:token] %>"

try:
  res, status_code = Live().get_view(id="<%= config[:live_get_view_id] %>")

  print("res: ", res)
except ServerException as e:
  raise e
except Exception as e:
  raise e
```

```php
<?php
require __DIR__."/../vendor/autoload.php";

Uiza\Base::setAuthorization("<%= config[:token] %>");

try {
  $response = Uiza\Live::getView(["id" => "<%= config[:live_get_view_id] %>"]);

  print_r($response);
} catch(\Uiza\Exception\ErrorResponse $e) {
  print($e);
}
?>
```

```java
import java.util.*;
import com.google.gson.*;

import io.uiza.Uiza;
import io.uiza.exception.*;
import io.uiza.model.Live;
import io.uiza.model.Live.*;

public class Main {

  public static void main(String[] args) {
    Uiza.authorization = "<%= config[:token] %>";

    try {
      JsonObject response = Live.getView("<%= config[:live_get_view_id] %>");
      System.out.println(response);
    } catch (UizaException e) {
      System.out.println("Status is: " + e.getStatusCode());
      System.out.println("Message is: " + e.getMessage());
      System.out.println("Description link is: " + e.getDescriptionLink());
    } catch (Exception e) {
      System.out.println(e);
    }
  }
}
```

```javascript
const uiza = require('uiza');

uiza.authorization('<%= config[:token] %>');

uiza.live.get_view('<%= config[:live_get_view_id] %>')
  .then((res) => {
    // Identifier of record (get from list record)
  }).catch((err) => {
    //Error
  });
```

```go
package main

import (
  uiza "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/live"
  "log"
)

func init() {
  uiza.Authorization = "<%= config[:token] %>"
}

func main() {
  params := &uiza.LiveIDParams{ID: uiza.String("<%= config[:live_get_view_id] %>")}
  response, err := live.GetView(params)
  if err != nil {
    log.Printf("%v\n", err)
  } else {
    log.Printf("%v\n", response)
  }
}
```

```csharp
using System;
using Uiza.Net.Configuration;
using Uiza.Net.Enums;
using Uiza.Net.Parameters;
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
  Authorization = "<%= config[:token] %>"
});


try
{
  var result = UizaServices.Live.GetView("<%= config[:live_get_view_id] %>");

  Console.WriteLine(string.Format("Get View Live Feed Success", result.Data.id));
  Console.ReadLine();
}
catch (UizaException ex)
{
  Console.WriteLine(ex.Message);
  Console.ReadLine();
}
```

Retrieve the number of views of a running live event.

> RESPONSE

```json
{
  "stream_name": "peppa-pig-english-episodes",
  "watchnow": 1,
  "day": 1533271205999
}
```

**HTTP Request**

<span class="get-button"> GET </span>
```<%= config[:endpoint] %>/live/entity/tracking/current-view```


**ARGUMENTS**

| Parameter | Description | Required |
|  ------------- | ------------- | ------------- |
| **id** *string* | The ID of the live event.| **Yes** |


**RETURNS**

| Parameter    | Description |
|--------------|-------------------------|
| **stream_name** *string* | The event's name |
| **day** *number* | Timestamp of this view request |
| **watchnow** *number* | Current views of the live event|
