## Start a live feed

> REQUEST

```bash
curl -X POST \
  <%= config[:endpoint] %>/live/entity/feed?id=8b83886e-9cc3-4eab-9258-ebb16c0c73de \
  -H 'Authorization: <%= config[:token] %>'
```

```ruby
require "uiza"

Uiza.workspace_api_domain = "<%= config[:endpoint] %>"
Uiza.authorization = "<%= config[:token] %>"

begin
  live = Uiza::Live.start_feed "your-live-id"
  puts live.id
  puts live.name
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
res, status_code = Live().start_feed("ddf09dd0-b7a8-4f29-92df-14dafb97b2aa")

print("id: ", res.id)
print("status_code", status_code)
```

```php
<?php
Uiza\Live::startFeed(["id" => "your entityId..."])
?>
```

```java
import io.uiza.model.Live;

Uiza.apiDomain = "<%= config[:endpoint] %>";
Uiza.apiKey = "<%= config[:token] %>";

try {
  JsonObject live = Live.startFeed("<live-event-id>");
  System.out.println(live.get("id"));
} catch (UizaException e) {
  System.out.println("Status is: " + e.getStatusCode());
  System.out.println("Message is: " + e.getMessage());
  System.out.println("Description link is: " + e.getDescriptionLink());
} catch (Exception e) {

}
```

```javascript
const uiza = require('../lib/uiza')('<%= config[:endpoint] %>', '<%= config[:token] %>');

uiza.live.start_feed('8bb4bb3e-0042-4be6-a5f0-25dc65145b14')
  .then((res) => {
    // Identifier of event
  }).catch((err) => {
    //Error
  });
```

```go
import (
  uiza "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/live"
)

params := &uiza.LiveIDParams{ID: uiza.String("c6b23cc3-e47d-4e87-8f40-5da64221ad4e")}
response, _ := live.StartFeed(params)
log.Printf("%v\n", response)
```

```csharp
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
  ApiKey = "<%= config[:token] %>",
  ApiBase = "<%= config[:endpoint] %>"
});

var startFeedResult = UizaServices.Live.StartFeed((string)createResult.Data.id);
Console.WriteLine(string.Format("Start Live Feed Success", startFeedResult.Data.id));
```

These API use to start a live event that has been create success. The Live channel minute start count whenever the event start success

> RESPONSE

```json
{
  "id": "8b83886e-9cc3-4eab-9258-ebb16c0c73de"
}
```

**HTTP Request**

<span class="post-button"> POST </span>
```<%= config[:endpoint] %>/live/entity/feed```

**ARGUMENTS**

| Parameter | Description | Required |
| ------------- | ------------- | ------------- |
| **id** *string* | The ID of the live event. | **Yes** |



**RETURNS**

Returns the ID of the live event if the start request succeeded.