## Update a callback

> REQUEST

```bash
curl -X PUT \
  <%= config[:endpoint] %>/media/entity/callback \
  -H 'Authorization: <%= config[:token] %>' \
  -H 'Content-Type: application/json' \
  -d '{
    "id": "0a6bf245-1cce-494f-a193-b5a44aa05558"
    "url": "https://callback-url.uiza.co",
    "method": "GET",
    "headersData": {
      "Authorization": "Bearer <%= config[:token] %>"
    },
    "jsonData": {
      "text": "example callback"
    },
  }'
```

```ruby
require "uiza"

Uiza.workspace_api_domain = "<%= config[:endpoint] %>"
Uiza.authorization = "<%= config[:token] %>"

params = {
  id: "your-callback-id",
  url: "https://callback-url.uiza.co",
  method: "GET"
}

begin
  callback = Uiza::Callback.update params
  puts callback.id
  puts callback.url
rescue Uiza::Error::UizaError => e
  puts "description_link: #{e.description_link}"
  puts "code: #{e.code}"
  puts "message: #{e.message}"
rescue StandardError => e
  puts "message: #{e.message}"
end
```

```python
res, status_code = Callback().update(id="33a86c18-f502-41a4-9c4c-d4e14efca238", method="POST")

print("id: ", res.id)
print("status_code", status_code)
```

```php
<?php
$params = [
  "url" => "https://callback-url.uiza.co",
  "method" => "POST"
];
Uiza\Callback::update('id callback', $params);
?>
```

```java
import io.uiza.model.Callback;

Uiza.apiDomain = "<%= config[:endpoint] %>";
Uiza.apiKey = "<%= config[:token] %>";

Map<String, Object> params = new HashMap<>();
params.put("url", "<your-server-callback>");
params.put("method", Method.POST);

try {
  JsonObject callback = Callback.update("<callback-id>", params);
  System.out.println(callback.get("name"));
} catch (UizaException e) {
  System.out.println("Status is: " + e.getStatusCode());
  System.out.println("Message is: " + e.getMessage());
  System.out.println("Description link is: " + e.getDescriptionLink());
} catch (Exception e) {

}
```

```javascript
const uiza = require('../lib/uiza')('<%= config[:endpoint] %>', '<%= config[:token] %>');

/** create */
uiza.callback.update({
  'id': '1b1f97f9-9afd-46d1-a2e1-f3b3896374df',
  'url': 'https://callback-url.uiza.co',
  'method': 'GET'
}).then((res) => {
  //Identifier of callback has been updated
}).catch((err) => {
  //Error
});
```

```go
import (
  uiza "github.com/uizaio/api-wrapper-go"
  "github.com/uizaio/api-wrapper-go/callback"
)

callbackMethodPOST := uiza.HTTPMethodPost
params := &uiza.CallbackUpdateParams{
	ID:    uiza.String("72d59f91-88c6-458b-9d45-489d2194a09f"),
	Url:    uiza.String("https://callback-url.uiza.commm"),
	Method: &callbackMethodPOST,
}

response, _ := callback.Update(params)
log.Printf("%v\n", response)
```

```csharp
using Uiza.Net.Services;

UizaConfiguration.SetupUiza(new UizaConfigOptions
{
  ApiKey = "<%= config[:token] %>",
  ApiBase = "<%= config[:endpoint] %>"
});

var resultUpdate = UizaServices.Callback.Update(new UpdateCallbackParameter()
{
  Id = createResult.Data.id,
  Url = "https://callback-url.uiza.co/update",
  Method = CallbackMethodTypes.Post
});

Console.WriteLine(string.Format("Update Callback Id = {0} Success", resultUpdate.Data.id));
```

Updates the specified callback by setting the values of the parameters passed. Any parameters not provided will be left unchanged.

> RESPONSE

```json
{
  "id": "8b83886e-9cc3-4eab-9258-ebb16c0c73de"
}
```

**HTTP Request**

<span class="put-button"> PUT </span>
```<%= config[:endpoint] %>/media/entity/callback```

**ARGUMENTS**

| Parameter  | Description | Required |
| ------------- | ------------- | ------------- |
| **id** *string* | The ID of the callback | **Yes** |
| **url** *string* | The callback URL. |  |
| **method** *enum* | The HTTP method of callback. Should only be `POST` or `GET` | |
| **jsonData** *object* | Extra data you want to attach when callback is called. |  |
| **headersData** *object* | The headers you want the callback to attach. |  |


**RETURNS**

Returns the ID of the updated callback if the update succeeded.